body{
    font-family: 'Poppins', sans-serif;
    background-image: url("img/mountain-dreams.jpg");
    /* filter: brightness(60%); */
    color: white;

}




.bar{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid black; */
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 38px;
}

header {
    /* border: 2px solid black; */
    font-size: 1.8rem;
    font-weight: 700;
    /* font-family: 'Poppins', sans-serif; */
    letter-spacing: 2px;

}


.nav{
    /* border: 2px solid black; */
    margin: 1px;
    width: auto;
    gap:63px;
    display: flex;
    flex-wrap: wrap;
    /* padding: 5px; */
    
}

.about{
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
  
}

.testimonials{
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding: 8px;

}

.contact{
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
}

.fullsButton{
    height: 40px;
    width: 40px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin:auto;
    
}
.aboutOverlay{
    display: flex;
    margin:auto;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 60px 60px 60px;
    border-radius: 25px;
    max-width: 650px;
    width: 80%;
    max-height: 85vh;
    flex-shrink: 1;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(30px);
    align-content: flex-start;
    
    
}

/* .aboutOverlay p{
    opacity: 1;
} */

.overlayHeadings{
    font-size: 2.8em;
    font-weight: 450;
    padding-bottom:15px ;
    max-width: max-content;
    position: relative;
}

.overlayHeadings::after{
    content:'';
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, transparent 100%);
    border-radius: 2px;
    position: absolute;
    height: 2px;
    width: 40%;
    bottom: 0;
    left: 0;
}



.closeButton{
   background: rgba(102, 99, 99, 0.5);
   border-radius: 50%;
   height: 40px;
   width: 40px;
   position:absolute;
   top:25px;
   right:25px;
   
}

.aboutOverlay p{
    position: relative;
    padding-left: 1.5rem;
}

.aboutOverlay p::before{
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 4px;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;

}





