@import "tailwindcss";

@layer base{
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
}

.progressBar{
    animation: timer var(--duration) linear forwards;
}


@keyframes timer {

    0%{
        width: 0%;
    }

    100%{
        width: 100;
    }
        
    }


